.button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 2px solid var(--Primary-400, #7b6ef6);
  background: var(--Primary-400, #7b6ef6);
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 56px;
}

.accent:hover {
  background: #646cff;
}
